.picture{
margin-top: 68px;
width: 30%;
justify-content: center;
align-items: center;
}
.errofont{
padding: 33px;
color: #000;
text-align: center;
font-size: 28.818px;
font-style: normal;
font-weight: 600;
line-height: 43.227px; /* 150% */
}
.errorspan {
    display: block;
  }