.border-lightgrey {
    display: flex;
    border-radius: 10px;
    border: 1.5px solid var(--Border-Card, #E0E0E0);
    background: var(--White, #FFF);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.border-lightgrey:hover {
    transform: translateY(-3px);
}

.border-lightgrey:active {
    background-color: var(--Active-Background, #f1f1f1); /* เปลี่ยนพื้นหลังเมื่อกด */
    border-color: var(--Active-Border, #bab9b9); /* เปลี่ยนสีกรอบเมื่อกด */
    
}
.button{
    border: none; 
    border-radius: 10px;
    background: var(--Foundation-Blue-Normal, #355FFF);
    display: flex;
    width: 280px;
    height: 48px;
    color: white;
    cursor: pointer; 
}
.button:hover {
    background-color: #2A4CCC;
}
.summary-text{
    padding-left: 22px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.summary-padding{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 2.5rem; 
    column-gap: 36px;
    color: black; 
}
.ScholarLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 32px;
    flex-wrap: wrap;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}
.ScholarLayout > * {
    transition: transform 0.3s ease; 
}

.ScholarLayout > *:hover {
    transform: translateY(-5px); 
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06); 
}
.scholarship-card{
    margin: auto; 
    width: 480px;
    height: 336px;
    padding: 0px 24px;
}
.open-status{
    border-radius: 7px;
    background: #E3F8D4;

}
.headingclamp{
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 2; 
  line-clamp: 2; 
  height: 61px;
}
.descriptionclamp{
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 3; 
  line-clamp: 3; 
  height: 58px;
}
.information-layout{
    padding-top: 6%;
    padding-bottom: 6px;
    word-break: break-word; 
    width:198px;
}
.number-layout{
  font-style: normal;
  font-weight: 400;
  color: #94A2B8;
}
.date-period-layout{
        margin-top: 0.5rem; 
        font-weight: 500;
        font-size: 15px; 
        color: #1D4ED8; 
}
.summary-all-border {
    border-left: 4px solid #2563eb; 
    margin-top: 1.25rem; 
    margin-bottom: 1.25rem;
}
.summary-open-border {
    border-left: 4px solid #C4E250; 
    margin-top: 1.25rem; 
    margin-bottom: 1.25rem;
}
.grid-container {
    display: grid;
    width: 200px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
}
}