@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&display=swap');

.Maincontainer {
    @apply container mx-auto bg-white rounded-lg mt-8 mb-8;
    display: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 56px;
    gap: 10px;
    padding: 24px;

    height: auto;
    max-width: 1110px;
    min-width: 1110px;
    
    border-radius: 15px;
    border: 1.5px solid var(--Foundation-Grey-Normal, #CBD5E0);
    background: var(--White, #FFF);
}
.Background {
    @apply min-h-screen bg-gray-50;
    display: flex;
    padding-bottom: 56px;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFF; 
}

/* ให้ body ใช้ flexbox เพื่อให้พื้นที่ว่างถูกจัดการโดยอัตโนมัติ */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* กำหนดให้ footer อยู่ที่ล่างสุดของหน้าจอ */
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #F9FAFF;
    height: 30px;
    margin-top: auto; /* ให้ footer อยู่ที่ด้านล่างสุด */
  }
  
  /* กำหนดขนาดของรูปภาพใน footer */
  .footer img {
    width: 50%;
  }
  
  /* กำหนดขนาดของข้อความใน footer */
  .footer p {
    font-size: 12px;
    color: #bababa;
  }
  input {
    background-color: white;
    color: #1a202c; /* สีข้อความดำในโหมด light */
  }
  
  @media (prefers-color-scheme: dark) {
    input {
      background-color: white; /* ให้พื้นหลังเป็นสีขาวเสมอ */
      color: #1a202c; /* ให้ข้อความเป็นสีดำเสมอ */
    }
  }
  /* กำหนดสีให้กับข้อความที่ถูกเลือก */
::selection {
  background-color: #355FFF; /* สีพื้นหลังฟ้าของข้อความที่ถูกเลือก */
  color: white; /* สีของตัวอักษรที่ถูกเลือก */
}

/* หรือถ้าคุณอยากให้เฉพาะในฟอร์มของคุณ */
input::selection, textarea::selection {
  background-color: #355FFF;
  color: white;
}

/* แก้ไขปัญหาสำหรับอุปกรณ์ iOS */
@supports (-webkit-touch-callout: none) {
  html, body {
    background-color: #F9FAFF !important;
    color: #333 !important;
  }
  
  input {
    background-color: white !important;
    color: #1a202c !important;
    -webkit-appearance: none;
    appearance: none;
  }
  
  @media (prefers-color-scheme: dark) {
    input {
      background-color: white !important;
      color: #1a202c !important;
    }
    
    .ProfileContainer, .border-lightgrey, .border-section, .Maincontainer, .Background {
      background-color: #FFF !important;
      color: #333 !important;
    }
  }
}

.ProfileContainer {
  display: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 56px;
  gap: 10px;
  padding: 24px;

  height: auto;
  max-width: 1110px;
  min-width: 1110px;
  
  border-radius: 15px;
  border: 1px solid var(--Foundation-Grey-Normal, #CBD5E0);
  background: var(--White, #FFF);
}