.Maincontainer {
    display: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 56px;
    gap: 10px;
    padding: 24px;

    height: auto;
    max-width: 1110px;
    min-width: 1110px;
    
    border-radius: 15px;
    border: 1.5px solid var(--Foundation-Grey-Normal, #CBD5E0);
    background: var(--White, #FFF);
}
.Background{
display: flex;
padding-bottom: 56px;
flex-direction: column;
align-items: center;
background-color: #F9FAFF; 
}

